# required for anbernic squashfs
CONFIG_NLS_ISO8859_1=y
CONFIG_OVERLAY_FS=y
CONFIG_SQUASHFS=y

# logo
# CONFIG_LOGO is not set

# required for evmapy
CONFIG_INPUT_UINPUT=y

# smb/cifs
CONFIG_CIFS=m
CONFIG_CIFS_STATS=y
# CONFIG_CIFS_STATS2 is not set
CONFIG_CIFS_WEAK_PW_HASH=y
CONFIG_CIFS_UPCALL=y
CONFIG_CIFS_XATTR=y
CONFIG_CIFS_POSIX=y
CONFIG_CIFS_ACL=y
CONFIG_CIFS_DEBUG=y
# CONFIG_CIFS_DEBUG2 is not set
# CONFIG_CIFS_DEBUG_DUMP_KEYS is not set
CONFIG_CIFS_DFS_UPCALL=y
CONFIG_CIFS_SMB2=y
CONFIG_CIFS_SMB311=y
# CONFIG_CIFS_SMB_DIRECT is not set
#
# RGA2
#
CONFIG_ROCKCHIP_RGA2=y
CONFIG_FRAMEBUFFER_CONSOLE_ROTATION=y
CONFIG_ROCKCHIP_SARADC=y
CONFIG_JOYSTICK_SINGLEADCJOY=y
CONFIG_BATTERY_CW2015_NEW=y
# CONFIG_BATTERY_CW2015 is not set
CONFIG_BATTERY_CW2015_NEW=y
CONFIG_MALI400=y
CONFIG_MALI_MIDGARD=y
# CONFIG_TOUCHSCREEN_GSLX680_VR is not set
# CONFIG_TOUCHSCREEN_GSL3673 is not set
# CONFIG_TOUCHSCREEN_GT9XX is not set
# CONFIG_TOUCHSCREEN_ELAN is not set
# CONFIG_TOUCHSCREEN_GT1X is not set
# CONFIG_TOUCHSCREEN_ROCKPI_FT5406 is not set
CONFIG_LOGO=y
CONFIG_LOGO_LINUX_CLUT224=y
CONFIG_RTL8189FS=m
CONFIG_RTL8188FU=y
